.customCard_style{
  box-shadow: .1rem .2rem 0.3rem 0.05rem rgb(204, 200, 200) ;
}
input[type=checkbox] {
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  border-color: rgba(155, 152, 152, 0.411);
}
input[type=radio] {
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  border-color: rgba(155, 152, 152, 0.411);
}